aiohttp            3.12.6      Async http client/server framework (asyncio)
beautifulsoup4     4.13.4      Screen-scraping library
fastapi            0.115.12    FastAPI framework, high performance, easy to...
google-genai       1.18.0      GenAI Python SDK
markdown           3.8         Python implementation of John Gruber's Markd...
pypdf              5.5.0       A pure-python PDF library capable of splitti...
python-dotenv      1.1.0       Read key-value pairs from a .env file and se...
python-multipart   0.0.20      A streaming multipart parser for Python
uvicorn            0.34.2      The lightning-fast ASGI server.
weasyprint         63.1        The Awesome Document Factory
